
.body {
    margin: auto;
    font-size: 14px;
    
}


.topnav {
    background-color: #49498d;
}

.navbar-brand {
    font-family: 'Arvo', serif;
    
}

.logo {
    color: white;
    
}
.login_button {
    color: white ;
}

.my-bread {
    background-color: #d6d6ef;
}

.my-nav-link {
    color: aliceblue;
}
.my-nav-link:hover  {
    color: black;
    
    
}

.home-banner 
    {
        background-image: url('../img/home.jpg');
      }

.home-img {
    opacity : 0.7
}
.homebtn1 {
    width: 60%;
    margin-top: 10%;
    margin-left: 18%;
    margin-bottom: 2%;
    font-size: 3em;
    border-radius: 20px;
}
.homebtn2 {
    width: 60%;
    margin-top: 2%;
    margin-left: 18%;
    margin-bottom: 4%;
    font-size: 3em;
    border-radius: 20px;
}
.error {
    color : #e83e8c
}
.info {
    color : #17a2b8
}
